.navigation{
    padding: 0 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
    font-weight: 500;
  
  }
  
  .navigation ul{
    display: flex;
    list-style-type: none;
    gap: 24px;
  }
  